<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CEP Query</title>
        <link type="text/css" rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <main id="app">
            <h1>Application of CEP queries</h1>
            <h3>Search for information by CEP</h3>
            <br />
            <input type="text" id="CEP-Num" name="CEP-Num" pattern="[0-9]{8}" required v-model="cep">
            <br />
            <br />
            <button id="query" v-on:click="consultar_cep">Consult</button>

            <table v-if="cep_data != null">
                <thead>
                    <th colspan="2">CEP informations</th>
                </thead>
                <tbody>
                <tr v-for="(value, key) in cep_data">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
            <br />
            <br />
            <p v-if="is_cep_not_found">CEP Not Found</p>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
        <script src="scripts-vue.js"></script>
    </body>
</html>